# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env
.env.*

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# Test coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Jupyter
.ipynb_checkpoints/
